@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;800&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Hanken Grotesk";
  
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-weight: 600;
  color: hsl(241, 100%, 89%);
  font-size: 19px;
  margin-top: 25px;
  margin-bottom: 45px;
}

h2 {
  border: unset;
  margin: unset;
  font-weight: 800;
  font-size: 8vh;
  color: hsl(0, 0%, 100%);
}
p {
  border: unset;
  margin: unset;
}
h3 {
  color: hsl(0, 0%, 100%);
  font-size: 3vh;
}
h4 {
  font-size: 25px;
  border: unset;
  margin: unset;
}

button{
    height: 3.5rem;
    border: transparent;
    outline: none;
    background: linear-gradient(
        180deg,
        hsl(252, 100%, 67%),
        rgba(74, 54, 239, 1) 48%,
        rgba(37, 12, 238, 1) 100%
      );
      color:  hsl(0, 0%, 100%);
      border-radius: 25px;
      cursor: pointer;
      margin-top: 25px;
}

.grid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  align-items: start;
  height: 100vh;
  align-items: center;

}

.leyend {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  text-align: center;
  color: hsl(241, 100%, 89%);
}

.container {
  display: flex;
  height: 100vh;
  background-color: #f4f5f8;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 80vh;
  box-shadow: 4px 4px 18px hsl(241, 100%, 89%);
  border-radius: 5%;

}
.child-1 {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vh;
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    rgba(74, 54, 239, 1) 48%,
    rgba(37, 12, 238, 1) 100%
  );
  align-items: center;
  border-radius: 5%;

}
.child-2 {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vh;
  background-color: #f4f5f8;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  padding: 30px;
  gap: 10px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsla(256, 72%, 46%, 1);
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );
  width: 22vh;
  height: 22vh;
  border-radius: 75%;
  color: hsl(241, 100%, 89%);
}

.skills {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 3rem;
  padding: 10px;
}

.red {
  background-color: hsl(0, 100%, 67%, 0.1);
}
.red h5 {
  color: hsl(0, 100%, 67%);
}
.red span{
    color: hsl(224, 30%, 27%, 0.8);
}
.yellow {
  background-color: hsl(39, 100%, 56%, 0.1);
}
.yellow h5 {
  color: hsl(39, 100%, 56%);
}
.yellow span{
    color: hsl(224, 30%, 27%, 0.8);
}

.blue {
  background-color: hsl(234, 85%, 45%, 0.1);
}
.blue h5 {
  color: hsl(234, 85%, 45%);
}
.blue span{
    color: hsl(224, 30%, 27%, 0.8);
}

.green {
  background-color: hsl(166, 100%, 37%, 0.1);
}
.green h5 {
  color: hsl(166, 100%, 37%);
}

.green span{
    color: hsl(224, 30%, 27%, 0.8);
}

@media (min-width: 375px) and (max-width: 767px) {
  h1{
    margin-bottom: 10px;
  }
  h2{

  }
  h3{
   margin: 0;
  }
  p{
    font-size: 14px;
    margin-bottom: 10px;
  }
  .grid{  
    justify-content: center;

    
  }
  .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      width: 100vh;
      height: 100vh;


  }

  .circle{
    font-size: 15px;
    height: 15vh;
    width: 15vh;
  }
  .child-1{
    justify-content: end;
    margin-top: 50px;
    width: 375px;
    border: 0;
    border-radius: 0;
    border-bottom-right-radius:10% ;
    border-bottom-left-radius:10% ;
  }
  .child-2{
    font-size: 20px;
    width: 50vh;
    height: 100vh;
  }

  button{
    background: hsl(224, 30%, 27%);
    height: 3.5rem;
    font-size: 1.5rem;
  }
}